.Preview {
    position: relative;

    &.is-disabled {
        .Preview-overlay {
            display: block;
        }
    }

    &.is-resizing {
        cursor: grabbing;

        * {
            cursor: grabbing !important;
        }
    }

    @include mq(navCollapse) {
        background-color: $color-background-offset;
    }
}

.Preview-wrapper {
    @include offset-inline(start, 0);
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    width: calc(100% + #{$handle-size});
    min-width: 200px;
    max-width: calc(100% + #{$handle-size});
    background-color: transparent;
    min-height: 100px;

    // @include mq($until: navCollapse) {
        max-width: 100%;
    // }
}

.Preview-resizer {
    @include offset-inline(start, 0);
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    max-width: calc(100% - #{$handle-size} + 1px);
    max-height: calc(100% - #{$handle-size} + 1px);
    min-width: 180px;
    min-height: 100px;
    background-color: white;
    -webkit-overflow-scrolling: touch;

    @include mq($until: navCollapse) {
        width: 100% !important; // override any JS-set widths
        min-width: 100%;
        border: 0;
    }

    .Error {
        margin: 20px;
    }
}

.Preview-iframe {
    @include trbl(0);
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.Preview-overlay {
    @include trbl(0);
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.Preview-handle {
    @include border-inline(start, 1px solid $color-frame-border);
    @include dragHandle;
    @include offset-inline(end, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    height: 100%;
    width: $handle-size;
    background: transparent url("../img/icon-drag--vertical.svg") no-repeat 50%;
    background-size: 3px 16px;
    cursor: ew-resize;

    @include mq($until: navCollapse) {
        display: none;
    }
}

.Preview-handle-horizontal {
    @include dragHandle;
    flex: 0 0 auto;
    height: $handle-size;
    margin: 0 $handle-size 0 0;
    background: $color-frame-border url("../img/icon-drag--horizontal.svg") no-repeat 50% 50%;
    background-size: 16px 3px;
    cursor: ns-resize;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    @include mq($until: navCollapse) {
        display: none;
    }
}
