.Prose {
    @include font(body);
    //max-width: 44em;
    font-feature-settings: "liga", "dlig", "kern", "onum";
    hanging-punctuation: first;

    > * {
        margin-bottom: 0.75em;
    }

    ul,
    ol {
        @include padding-inline(start, 1.25em);
    }

    li,
    li > ul,
    li > ol {
        margin-bottom: 0.25em;
    }

    ul > li {
        list-style-type: disc;
    }

    ol > li {
        list-style-type: decimal;
    }

    h1 {
        @include font(title);
        color: $teal;
    }

    h2 {
        @include font(heading);
        font-weight: 400;
        text-transform: initial;
        margin-bottom: 1em;
        color: $color-heading;
    }

    * + h1,
    * + h2 {
        margin-top: 1em;
    }

    *:not(hr) + h2 {
        margin-top: 2em;
    }

    h3 {
        @include font(subHeading);
        margin-bottom: 0.75em;
    }

    * + h3 {
        margin-top: 1em;
    }

    hr {
        height: 0;
        border: 0;
        border-top: 0.125rem solid $color-frame-border;
        margin: 2em 0;
    }

    abbr {
        font-feature-settings: "c2sc";
    }

    blockquote {
        @include border-inline(start, solid rgba($color-text, 0.25));
        @include padding-inline(start, 1em);
        opacity: 0.75;
    }

    code,
    code pre {
        background-color: rgba($color-text, 0.075);
    }

    p code,
    li code {
        padding: 0.125rem;
    }

    code pre {
        padding: 0.125rem 0.5rem;
        margin: 1rem -0.5rem;
        overflow: auto;
    }

    table {
        width: 100%;
        margin: 1rem -0.5rem;
        border-collapse: collapse;
        font-size: 0.875rem;
        font-feature-settings: "lnum" 1, "tnum" 1;
        box-shadow: 0 1px 1px rgba($black, .1);
    }

    caption {
        @include font(navigation);
        padding: 0 0.5rem;
        font-style: italic;
        text-align: start;
        color: rgba($color-text, 0.75);
        opacity: 0.8;
    }

    td,
    th {
        padding: 10px 15px;
        text-align: start;

        // text-align: start isn't fully supported for th elements
        [dir="ltr"] & { text-align: left; }
        [dir="rtl"] & { text-align: right; }
    }

    tr:nth-child(odd) {
        background-color: $grey-m;
    }

    th {
        background-color: $white;
    }
}

.Prose--condensed {

    > * {
        margin-bottom: 0.50em;
    }

    li,
    li > ul,
    li > ol {
        margin-bottom: 0.15em;
    }

    *:not(hr) + h2 {
        margin-top: 1em;
    }

    h3 {

        margin-bottom: 0.55em;
        opacity: 0.8;
    }

    * + h3 {
        margin-top: 1.25em;
    }

    hr {
        margin: 1em 0;
    }

}
