.Tree-title {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #9e9e9e;
    text-transform: uppercase;
}

.Tree-collection {
    &.is-closed {
        background-color: transparent;

        .Tree-collectionItems {
            display: none;
        }

        .Tree-collectionIcon {
            opacity: .5;
        }
    }

    &.Tree-depth-2 {
        border-bottom: 1px solid $color-border;
        margin-right: -40px;
        padding-right: 40px;

        &:first-child {
            margin-top: -10px;
        }
    }
}

.Tree-collectionLabel {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    color: $black;

    &:hover {
        color: $color-ui-hover;
    }

    .Tree-depth-2 > & {
        border-color: transparent;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.Tree-collectionIcon {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 0;
    width: 20px;
    height: 16px;
    content: "";
    opacity: 0;
    color: $color-text;
    transition: transform 250ms ease-out;

    .Tree-depth-2 > .Tree-collectionLabel > & {
        top: 15px;
    }

    .Tree-collectionLabel:hover > & {
        transform: translateX(10px);
    }
}

.Tree-item {
    font-size: 14px;
}

.Tree-entityLink {
    display: flex;
    align-items: center;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    text-decoration: none;
    color: $color-text;

    &:hover {
        color: $color-ui-hover;
    }

    .is-current & {
        color: $color-ui-active;
    }
}

.Tree-collectionItems {
    padding-left: 20px;
    margin-bottom: 12px;

    .Tree-depth-2 > & {
        margin-top: -6px;
    }
}
